<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="APPLOG" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C://mainProject//log4j-files//samplerest.log"/>
		<param name="Append" value="true"/>
		<param name="MaxFileSize" value="3000KB"/>
		<param name="MaxBackupIndex" value="50" />
		<param name="Threshold" value="INFO"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %t [%-40.40c] %x - %m%n"/>
		</layout>
	</appender>
<!--  <appender name="SPRINGLOG" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C://develop//ws//logs//spring.log"/>
		<param name="Append" value="true"/>
		<param name="MaxFileSize" value="3000KB"/>
		<param name="MaxBackupIndex" value="50" />
		<param name="Threshold" value="DEBUG"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p %t [%-40.40c] %x - %m%n"/>
		</layout>
	</appender>	  -->	

	<logger name="com.cubic.rest">
	 <appender-ref ref="APPLOG"/>
	  <level value="DEBUG"/>
	</logger>	
	<logger name="org.springframework">
	 <appender-ref ref="SPRINGLOG"/>
	  <level value="ERROR"/>
	</logger>	
	<root>
	   <level value="DEBUG"/>
	   <appender-ref ref="CONSOLE"/>
	</root>
</log4j:configuration>